.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  font-size: calc(10px + 2vmin);
  color: white;
}

#chats-bar {
  padding: 30px;
  flex-grow: 1;
}

#chats-bar h3 {
  font-style: oblique;
  margin-bottom: 20px;
}

#chat {
  flex-grow: 6;
  background-color: #383c44;
  padding: 30px;
}

.chat-item {
  margin-left: 10px;
}

#messages {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-height: 80%;
  overflow: hidden;
}

#message-bar {
  margin-top: 10px;
}

#message-bar button {
  margin-left: 10px;
  border-radius: 5px;
}

#button-bar {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: #383c44;
}

#button-bar button {
  margin-bottom: 10px;
}

.message-item {
  max-width: 70%;
  padding: 5px 15px 5px 15px;
  color: antiquewhite;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: dimgrey;
  border-radius: 3px;
  box-shadow: #282c34 3px 3px 5px;
}

.msg-author {
  font-size: calc(5px + 2vmin);
  color: darkseagreen;
  font-weight: bold;
}

.msg-author ~ div {
  font-size: calc(10px + 2vmin);
}

.left {
  align-self: start;
}

.right {
  align-self: end;
}