.App {
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
}

#chats-bar, #friends-bar {
    padding: 30px;
    flex-grow: 1;
}

#chats-bar h3, #friends-bar h3 {
    font-style: oblique;
    margin-bottom: 20px;
}

#chat {
    background-color: #383c44;
}

.chat-item {
    margin-left: 10px;
}

#messages {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

/* * Necessario per mantenere l'input text fisso */
#message-bar {
    position: sticky;
    bottom: 0;
    padding: 10px;
}

.message-item {
    max-width: 70%;
    padding: 5px 15px 5px 15px;
    color: antiquewhite;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: dimgrey;
    border-radius: 3px;
    box-shadow: #282c34 3px 3px 5px;
}

.msg-author {
    font-size: calc(5px + 2vmin);
    color: darkseagreen;
    font-weight: bold;
}

.msg-author ~ div {
    font-size: calc(10px + 2vmin);
}

.left {
    align-self: start;
}

.right {
    align-self: end;
}