@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

html {
    background-color: #42464e;
    font-family: 'Open Sans', sans-serif;
}

.App {
    color: white;
    overflow-x: hidden;
}

.App::-webkit-scrollbar {
    display: none;
}


/* * Barra laterale dei pulsanti */
#button-bar-div {
    z-index: 1;
    background-color: #2a2a32;
    width: 80px;
    padding-top: 10px;
    border-right-style: solid;
    border-width: 1px;
    border-color: #40454d;
}


/* * Sidebar che conterrà l'elenco delle chat attive */
#side-tab {
    background-color: #343840;
    /* box-shadow: #202227 1px 0 7px; */
    height: 100vh;
    padding: 0;
}

#side-tab::-webkit-scrollbar, #side-list::-webkit-scrollbar {
    display: none;
}

#side-list {
    overflow-y: auto;
    height: 92vh;
}

#side-list h3 {
    margin-bottom: 20px;
}

.side-list-chats {
    border-right-style: solid;
    border-width: 1px;
    border-color: #2a2a32;
}

#chat {
    position: relative;
    background-color: #42464e;
    flex: 1 1 auto;
    height: 100vh;
    padding: 0;
}

#chat-wrapper {
    overflow-y: auto;
    height: 92vh;
    background-color: #42464e;
}

#chat-wrapper::-webkit-scrollbar {
    display: none;
}

@-moz-document url-prefix() {
    * {
        scrollbar-width: none;
    }
}

.chat-item {
    margin-left: 10px;
    margin-top: 10px;
}

.message-item-left {
    position: relative;
    margin-left: 25px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #2a7768;
    text-align: left;
    border: 1px solid #bee1e6;
    border-radius: 10px;
    box-shadow: #282c34 2px 2px 7px;
    max-width: 45%;
    max-height: 100%;
}

.message-item-right {
    color: black;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    margin-left: 55%;
    margin-right: 25px;
    padding: 10px;
    background-color: #bee1e6;
    text-align: left;
    border: 2px solid #2a7768;
    border-radius: 10px;
    box-shadow: #282c34 2px 2px 7px;
    max-height: 100%;
    box-sizing: border-box;
}

.message-content {
    padding: 0;
    margin: 0;
    white-space: pre-line;
    word-wrap: break-word;
}

.message-timestamp-left {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    right: 5px;
    color: #bee1e6;
}

.message-timestamp-right {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    right: 5px;
    color: #2a7768;
}

.message-item-left:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #bee1e6;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
}

.message-item-left:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #bee1e6;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;

}

.message-item-right:after {
    content: '';
    position: absolute;
    border-bottom: 15px solid #2a7768;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    right: -15px;
}

.message-item-right:before {
    content: '';
    position: absolute;
    border-bottom: 17px solid #2a7768;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    bottom: -1px;
    right: -17px;
}

.msg-author-right {
    font-size: 18px;
    color: #2a7768;
    font-weight: bold;
}

.msg-author-left {
    font-size: 18px;
    color: #bee1e6;
    font-weight: bold;
}

.left {
    align-self: start;
}

.right {
    align-self: end;
}