/* Chat.js che conterrà la chat */
#friendless-message {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#messages {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

/* * Necessario per mantenere l'input text fisso */
#message-bar {
    position: sticky;
    bottom: 0;
    padding: 20px;
}

#message-bar textarea {
    resize: none;
    overflow-y: auto;
}
#message-bar textarea::-webkit-scrollbar, #message-bar input::-webkit-scrollbar {
    display: none;
}

#message-bar textarea:focus, #message-bar input:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}