/* Elenco chat attive sulla sinistra */
.userChat {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #40454d;
}

.userChat:hover, .selected {
    color: black;
    background-color: #bee1e6;
}

.userChat > img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.last-chat-message {
    font-size: 13px;
    color: #868686;
}