/* Elenco chat attive sulla sinistra */
.userChat {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #40454d;
}

.userChat:hover {
    color: black;
    background-color: #bee1e6;
}

.userChat > img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.userChatInfo > span {
    font-size: 17px;
    font-weight: 500;
}

.userChatInfo > p {
    font-size: 14px;
    color: lightgray;
}