/* Visualizzazione amici dell'utente loggato */
#friends-bar form {
    width: 80%;
    margin: 15px auto;
}

#friends-bar input[type="text"] {
    width: 80%;
}

#friends-bar input[type="submit"] {
    width: 20%;
}