/* Navbar nel quale si mostra l'utente loggato */
.navbar {
    height: 8vh;
    padding-left: 15px;
    background-color: #2a2a32;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #40454d;
    z-index: 3;
}

.navbar-title {
    font-size: 1.4em;
    font-weight: bold;
}

/* Navbar della chat */
.navbar-chat {
    height: 8vh;
    background-color: #2a2a32;
    border-style: none none solid solid;
    border-width: 1px;
    z-index: 2;
    box-shadow: #202227 0 1px 7px;
}
